[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/bifrost"]
	path = third_party/bifrost
	url = https://github.com/pmelsted/bifrost
[submodule "third_party/doctest"]
	path = third_party/doctest
	url = https://github.com/doctest/doctest
